<!DOCTYPE html>
<html>
<head>
	<link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
	<div id="login-container">
		<form id="login_form" action="/user_home" method="post">
			Username: <input type="text" name="username"><br>
			Password: <input type="password" name="password">
			<input type="submit" value="Submit">
		</form>
	</div>
</body>
</html>