packages:
  yum:
    git: '1.7.4.5'

container_commands:
  01_syncdb:
    command: "django-admin.py syncdb --noinput"
    leader_only: true
  02_createadmin:
    command: "scripts/createadmin.py"
    leader_only: true
  03_collectstatic:
    command: "django-admin.py collectstatic --noinput"
    
option_settings:
  - namespace: aws:elasticbeanstalk:container:python
    option_name: WSGIPath
    value: brainstormtg/wsgi.py
  - namespace: aws:elasticbeanstalk:container:python:staticfiles
    option_name: /static/
    value: static/
  - option_name: DJANGO_SETTINGS_MODULE
    value: brainstormtg.settings
  - option_name: AWS_SECRET_KEY
    value: xINsnA8ORDpoRwxo3Rzo+gWzSTcaMR4E3lhFsrMo
  - option_name: AWS_ACCESS_KEY_ID
    value: AKIAIB5GBQXM45X7WFZA
