{% extends "base.html" %}
{% load url from future %}

{% block title %}Home{% endblock %}

{% block content %}
      <h3>What is Brainstorm: The Gathering?</h3>
<p>Brainstorm: The Gathering is an in-development web application that will allow Magic: The Gathering players to experience deck building in a whole new way. In addition to the most user friendly deck editing software available (including advanced search options and visual deck analysis) Brainstorm: The Gathering brings players together to share their decks and discuss them through a comment-based deck publishing system. Brainstorm: The Gathering will also be the first application to introduce card recommendation to guide you in your deck building process!</p>
<h3>New to Magic: The Gathering?</h3>
<p>Magic: The Gathering is a collectable trading card game produced by Wizards of the Coast since its release in 1993. You can learn more about how to play the game <a href="http://www.wizards.com/Magic/TCG/NewtoMagic.aspx">at their website</a>. 
<h3>How to Navigate the Site</h3>
<h4>Home</h4><p>On the left of our home page links to the most recent starcity top 8 decklists are given. The center of the page is a feed of the most recent decks that other pplayers have published. You can click on a deck name to view the contents, leave a comment, or even add it to your own decks and make whatever modifications you desire. </p>
<h4>Login</h4><p>If you already have an account you can use the login here. You need to be logged in if you want to edit or view any of your decks which you have not published.</p>
<h4>Register</h4> <p>If you don't have an account yet you can register one here. Its as simple as entering a username, email, and password!</p>
<h4>Decks</h4><p>This is where you can create or edit decks as well as keep track of your collection and recieve deck building recommendations. From here you can also publish decks as well as browse for cards using our advanced card search features.</p>


{% endblock %}
