{% extends "base.html" %}
{% load url from future %}

{% block title %}Home{% endblock %}

{% block content %}
      <h1>About</h1>
<p>Brainstorm: The Gathering is an in-development web application that will allow Magic: The Gathering players to experience deck building in a whole new way. In addition to the most user friendly deck editing software available (including advanced search options and visual deck analysis) Brainstorm: The Gathering brings players together to share their decks and discuss them through a comment-based deck publishing system. Brainstorm: The Gathering will also be the first application to introduce card recommendation to guide you in your deck building process!</p>

{% endblock %}
