{% extends "base.html" %}
{% load url from future %}

{% block title %}Info {{ card.name }}{% endblock %}

{% block content %}
	<h1>Card Info - {{card.name}} ({{set}})</h1>
	<p>{% for set in sets %} <a href="/info/{{set.name}}/{{card.name}}"> {{set.name}} </a> {% endfor %}<p>
	<img src='{{card_image_url}}'>
	<p>Color: {{card.color}}</p>
	<p>Manacost: {{card.manacost}} (Converted Mana Cost = {{card.cmc}})</p>
	{% if supertypes %}
	<p>Supertypes:<br>
	{% for type in supertypes %}
	{{type}}<br>
	{% endfor %}
	</p>
	{% endif %}
	<p>Types:<br>
	{% for type in types %}
	{{type}}<br>
	{% endfor %}
	</p>
	{% if subtypes %}
	<p>Subtypes:<br>
	{% for type in subtypes %}
	{{type}}<br>
	{% endfor %}
	</p>
	{% endif %}
	{% if isCreature %}
	<p>Power: {{card.power}}</p>
	<p>Toughness: {{card.toughness}}</p>
	{% endif %}
	{% if card.rules %}
	<p>Oracle Text:<br>{{card.rules}}</p>
	{% endif %}
	<a href="/favorite/{{card.name}}">Make favorite</a><br>
	<a id="purchase_link" href="{{ price_url }}">Purchase Card</a>
	<div id="average_price">Estimated Price Range: </div>
	<script src="/static/bootstrap/docs/assets/js/jquery.js"></script>
	<script>
		$('#card_flavor').css('font-style', 'italic');
		var price_url = "http://blacklotusproject.com/json/?{{ price_query }}";
		$.getJSON(price_url, function(data){
			$('#average_price').text($('#average_price').text() + data.cards[0].low + ' to ' + data.cards[0].high);
			console.log(data.cards[0].average);
		});
	</script>

{% endblock %}
