{% extends "base.html" %}
{% load url from future %}

{% block title %}Info {{ card.name }}{% endblock %}

{% block content %}
	<h1>Card Info - {{card.name}} ({{set}})</h1>
	<div class="row">
		<div class="span3">
	<p>{% for current in sets %} <a href="/info/{{current.name}}/{{card.name}}"> {{current.name}} </a> {% endfor %}</p>
	<p>{{set.long_name}}:<br>
	<img src='{{card_image_url}}'></p>
</div>
<div class="span9">
	<p>Color: {{card.color}}</p>
	<p>Manacost: {{card.manacost}} (Converted Mana Cost = {{card.cmc}})</p>
	{% if supertypes %}
	<p>Supertypes:<br>
	{% for type in supertypes %}
	{{type}}<br>
	{% endfor %}
	</p>
	{% endif %}
	<p>Types:<br>
	{% for type in types %}
	{{type}}<br>
	{% endfor %}
	</p>
	{% if subtypes %}
	<p>Subtypes:<br>
	{% for type in subtypes %}
	{{type}}<br>
	{% endfor %}
	</p>
	{% endif %}
	{% if isCreature %}
	<p>Power: {{card.power}}</p>
	<p>Toughness: {{card.toughness}}</p>
	{% endif %}
	{% if card.rules %}
	<p>Oracle Text:<br>{{card.rules}}</p>
	{% endif %}
	<p>Legality:<br>
	{{standard}} in Standard<br>
	{{modern}} in Modern<br>
	{{legacy}} in Legacy<br>
	{{vintage}} in Vintage<br>
	{{commander}} in Commander<br>
	<a href="/favorite/{{card.name}}">Make favorite</a><br>
	<a id="purchase_link" href="{{ price_url }}">Purchase Card</a>
	<div id="average_price">Estimated Price Range: </div>
	<script src="/static/bootstrap/docs/assets/js/jquery.js"></script>
	<script>
		$('#card_flavor').css('font-style', 'italic');
		var price_url = "http://blacklotusproject.com/json/?{{ price_query }}";
		$.getJSON(price_url, function(data){
			$('#average_price').text($('#average_price').text() + data.cards[0].low + ' to ' + data.cards[0].high);
			console.log(data.cards[0].average);
		});
	</script>
</div>
</div>

{% endblock %}
