{% extends "base.html" %}
{% load url from future %}

{% block title %}Home{% endblock %}

{% block content %}
      <div class="row">
        <div class="span3">
          <div class="well sidebar-nav">
            <ul class="nav nav-list">  
              <li class="active"><a href="#">My Decks</a></li>
            </ul>
          </div><!--/.well -->
	        </div><!--/span-->

<div class="span3">
    <form>
    <fieldset>
    <input id="searchText" type="text" placeholder="Search Cards">
    </label>
    <button id="submitSearch" type="submit" class="btn">Search</button>
    </fieldset>
    </form>
</div>
	<div class="span1">
<p><button id="addCard" data-loading-text="loading..." class="btn btn-primary">Add Card</button></p>  
<p><button id="removeCard" data-loading-text="loading..." class="btn btn-primary">Remove Card</button></p>  
</div>
        <div class="span4">
          <div class="well sidebar-nav">
            <ul class="nav nav-list">  
	      <li class="nav-header">Name of Deck</li>
          {% for card_count in card_counts.all %}
<li><a href="{{card_count.card.get_absolute_url}}">{{ card_count.card.name }}</a> x {{ card_count.multiplicity }}</li>
{% endfor %}
          </div><!--/.well -->
        </div><!--/span-->
	</div>
      </div>
    </div>

{% endblock %}
