{% extends "base.html" %}
  {% load url from future %}

  {% block title %}Home{% endblock %}

  {% block content %}
  <style>
    table{
      text-align:right;
      vertical-align: bottom;
    }
    input[type="number"]{
      width:35px;
    }
  </style>
  <div class="row">
    <div class="span4">
      <div class="well sidebar-nav">
        <ul class="nav nav-list">  
          <li class="active"><a href="#">My Decks</a></li>
          <form>
            <table>
              {% for deck in decks %}
              {% for key, value in deckSizes.items %}
              {% ifequal deck.pk key %}
              <tr>
                <td><button class="btn" type="submit" name="deck_delete" value="{{ deck.pk }}">Delete</button></td><td><a href="/decks/?deck={{ deck.pk }}">{{ deck.name }}</a> ({{ value }} cards)</td>
              </tr>
              {% endifequal %}
              {% endfor %}
              {% endfor %}
            </table>
          </form>
        </ul>
      </div><!--/span-->
      <form>
        <input type="text" name="new" placeholder="New Deck Name">
        <button class="btn" type="submit" >New Deck</button>
      </form>
      <form>
        <input type="hidden" name="publish" value="1">
        <input type="hidden" name="deck" value={{deck.pk}}>
        <button class="btn" type="submit">Pubish</button>
      </form>
      <div class="well sidebar-nav"> 
        <ul class="nav nav-list">  
          <li class="nav-header">My Collection</li>
          {% if collection %}
          {% for card_count in collection.card_counts.all %}
          <form>
            <button class="btn btn-mini" type="submit" name="collectionAdd" value="{{card_count.card.pk}}">+</button><button class="btn btn-mini" type="submit" name="decrimentCollection" value="{{card_count.pk}}">-</button><button class="btn btn-mini" type="submit" name="removeCardCollection" value="{{card_count.card.name}}">Remove</button>
            <!--<input type="radio" name="removeCardCollection" value="{{card_count.card.pk}}">--><a href="{{card_count.card.get_absolute_url}}">{{ card_count.card.name }}</a> x<input class="input-mini" type="number" value="{{card_count.multiplicity}}" name="collectionMultiplicity"><button class="btn btn-mini" type="submit" name="collectionSet" value="{{card_count.pk}}">Set</button><br>
          </form>
          {% endfor %}
          {% endif %}
        </ul>
      </div>
    </div><!--/.well -->

    <div class="span4">
      {% if deck %}
      <p>Editing {{deck.name}}</p>
      {% endif %}
      <form>
        <fieldset>
          {% if deck %}
          <input type="hidden" name="deck" value={{deck.pk}}>
          {% endif %}
          <input id="searchText" type="text" placeholder="Search Card Name" name="query">
        </label>
        <button id="submitSearch" type="submit" class="btn">Search</button>
      </fieldset>
    </form>
    <ul style="list-style: none;">
      <form>
        {% if deck %}
        <input type="hidden" name="deck" value={{deck.pk}}>
        {% endif %}
        {% if results %}
        <input type="hidden" name="collection" value={{collection.pk}}>  
        {% endif %}
        {% for card in results %}
        {% if deck %}
        <button id="addCard" class="btn btn-mini" type="submit" name="deckAdd" value="{{card.object.pk}}">+Deck</button>
        <button id="addCard" class="btn btn-mini" type="submit" name="sbAdd" value="{{card.object.pk}}">+Sideboard</button>
        {% endif %}<button class="btn btn-mini" type="submit" name="collectionAdd" value="{{card.object.pk}}">+Collection</button><a href="{{card.object.get_absolute_url}}">{{ card.object.name }}</a> <br>
        {% endfor %}
      </form>
    </div>
      <div class="span4">
        {% if deck %}
        <div class="well sidebar-nav">
          <ul class="nav nav-list">  
            <li class="nav-header">{{ deck.name }}</li>
            {% if creatures %}
            <li class="nav-header">Creatures:</li>
            {% for card_count in creatures %}
            <form>
            <input type="hidden" name="deck" value={{deck.pk}}>
            <button id="addCard" class="btn btn-mini" type="submit" name="deckAdd" value="{{card_count.card.pk}}">+</button><button id="removeCard" class="btn btn-mini" name="decriment" value="{{card_count.pk}}">-</button><button class="btn btn-mini" name="removeCard" value="{{card_count.pk}}">Remove</button><a href="{{card_count.card.get_absolute_url}}">{{ card_count.card.name }}</a> x<input class="input-mini" type="number" value="{{card_count.multiplicity}}" name="multiplicity"><button class="btn btn-mini" type="submit" name="deckSet" value="{{card_count.pk}}">Set</button><br>
          </form>
            {% endfor %}
            {% endif %}
            {% if perm %}
            <li class="nav-header">Other permanents:</li>
            {% for card_count in perm %}
            <form>
            <input type="hidden" name="deck" value={{deck.pk}}>
            <button id="addCard" class="btn btn-mini" type="submit" name="deckAdd" value="{{card_count.card.pk}}">+</button><button id="removeCard" class="btn btn-mini" name="decriment" value="{{card_count.pk}}">-</button><button class="btn btn-mini" name="removeCard" value="{{card_count.pk}}">Remove</button><a href="{{card_count.card.get_absolute_url}}">{{ card_count.card.name }}</a> x<input class="input-mini" type="number" value="{{card_count.multiplicity}}" name="multiplicity"><button class="btn btn-mini" type="submit" name="deckSet" value="{{card_count.pk}}">Set</button><br>
          </form>
            {% endfor %}
            {% endif %}
            {% if spells %}
            <li class="nav-header">Instants and Sorceries:</li>
            {% for card_count in spells %}
            <form>
            <input type="hidden" name="deck" value={{deck.pk}}>
            <button id="addCard" class="btn btn-mini" type="submit" name="deckAdd" value="{{card_count.card.pk}}">+</button><button id="removeCard" class="btn btn-mini" name="decriment" value="{{card_count.pk}}">-</button><button class="btn btn-mini" name="removeCard" value="{{card_count.pk}}">Remove</button><a href="{{card_count.card.get_absolute_url}}">{{ card_count.card.name }}</a> x<input class="input-mini" type="number" value="{{card_count.multiplicity}}" name="multiplicity"><button class="btn btn-mini" type="submit" name="deckSet" value="{{card_count.pk}}">Set</button><br>
          </form>
            {% endfor %}
            {% endif %}
            {% if lands %}
            <li class="nav-header">Lands:</li>
            {% for card_count in lands %}
            <form>
            <input type="hidden" name="deck" value={{deck.pk}}>
            <button id="addCard" class="btn btn-mini" type="submit" name="deckAdd" value="{{card_count.card.pk}}">+</button><button id="removeCard" class="btn btn-mini" name="decriment" value="{{card_count.pk}}">-</button><button class="btn btn-mini" name="removeCard" value="{{card_count.pk}}">Remove</button><a href="{{card_count.card.get_absolute_url}}">{{ card_count.card.name }}</a> x<input class="input-mini" type="number" value="{{card_count.multiplicity}}" name="multiplicity"><button class="btn btn-mini" type="submit" name="deckSet" value="{{card_count.pk}}">Set</button><br>
          </form>
            {% endfor %}
            {% endif %}
            <p><li class="nav-header">Sideboard</li></p>
            {% for card_count in deck.sb_counts.all %}
            <form>
            <input type="hidden" name="deck" value={{deck.pk}}>
            <button id="addCard" class="btn btn-mini" type="submit" name="sbAdd" value="{{card_count.card.pk}}">+</button><button id="removeCard" class="btn btn-mini" name="decrimentSb" value="{{card_count.pk}}">-</button><button class="btn btn-mini" name="removeCardSb" value="{{card_count.pk}}">Remove</button><a href="{{card_count.card.get_absolute_url}}">{{ card_count.card.name }}</a> x<input class="input-mini" type="number" value="{{card_count.multiplicity}}" name="sbMultiplicity"><button class="btn btn-mini" type="submit" name="sbSet" value="{{card_count.pk}}">Set</button><br>
          </form>
            {% endfor %}
          </ul>
        </div><!--/.well -->
        {% endif %}
      </div><!--/span-->
    </form>
  </div>

{% endblock %}