{% extends "base.html" %}
  {% load url from future %}

  {% block title %}Home{% endblock %}

  {% block content %}
  <style>
    table{
      text-align:right;
      vertical-align: bottom;
    }
  </style>
  <div class="row">
    <div class="span3">
      <div class="well sidebar-nav">
        <ul class="nav nav-list">  
          <li class="active"><a href="#">My Decks</a></li>
          <form>
            <table>
              {% for deck in decks %}
              {% for key, value in deckSizes.items %}
              {% ifequal deck.pk key %}
              <tr>
                <td><button class="btn" type="submit" name="deck_delete" value="{{ deck.pk }}">Delete</button></td><td><a href="/decks/?deck={{ deck.pk }}">{{ deck.name }}</a> ({{ value }} cards)</td>
              </tr>
              {% endifequal %}
              {% endfor %}
              {% endfor %}
            </table>
          </form>
        </ul>
      </div><!--/span-->
      <form>
        <input type="text" name="new" placeholder="New Deck Name">
        <button class="btn" type="submit" >New Deck</button>
      </form>
      <form>
        <input type="hidden" name="publish" value="1">
        <input type="hidden" name="deck" value={{deck.pk}}>
        <button class="btn" type="submit">Pubish</button>
      </form>
      <div class="well sidebar-nav"> 
        <ul class="nav nav-list">  
          <li class="nav-header">My Collection</li>
          {% if collection %}
          <form>
            <button class="btn" type="submit" name="collection_remove" value="1">Remove Card</button>
            {% for card_count in collection.card_counts.all %}
            <br><input type="radio" name="removeCardCollection" value="{{card_count.card.pk}}"><a href="{{card_count.card.get_absolute_url}}">{{ card_count.card.name }}</a> x{{card_count.multiplicity}}
            {% endfor %}
          </form>
          {% endif %}
        </ul>
      </div>
    </div><!--/.well -->

    <div class="span3">
      {% if deck %}
      <p>Editing {{deck.name}}</p>
      {% endif %}
      <form>
        <fieldset>
          {% if deck %}
          <input type="hidden" name="deck" value={{deck.pk}}>
          {% endif %}
          <input id="searchText" type="text" placeholder="Search Cards" name="query">
        </label>
        <button id="submitSearch" type="submit" class="btn">Search</button>
      </fieldset>
    </form>
    <ul style="list-style: none;">
      <form>
        {% if deck %}
        <input type="hidden" name="deck" value={{deck.pk}}>
        {% endif %}
        {% if results %}
        <p><button id="addCard" class="btn btn-primary" type="submit" name="addCardButton" value="deckAdd">Add Card to Deck</button></p>
        <p><button class="btn btn-primary" type="submit" name="addCardButton" value="collectionAdd">Add Card to Collection</button></p>
        <input type="hidden" name="collection" value={{collection.pk}}>  
        {% endif %}
        {% for card in results %}
        <input type="radio" name="addCard" value="{{card.object.pk}}"><a href="{{card.object.get_absolute_url}}">{{ card.object.name }}</a> <br>
        {% endfor %}
      </form>
    </div>
    <form>
      <input type="hidden" name="deck" value={{deck.pk}}>
      <div class="span1">
        {% if deck %}
        <p><button id="removeCard" class="btn btn-primary">Remove Card</button></p>  {%endif%}
      </div>
      <div class="span4">
        {% if deck %}
        <div class="well sidebar-nav">
          <ul class="nav nav-list">  
            <li class="nav-header">{{ deck.name }}</li>
            {% for card_count in deck.card_counts.all %}
            <input type="radio" name="removeCard" value="{{card_count.pk}}"><a href="{{card_count.card.get_absolute_url}}">{{ card_count.card.name }}</a> x {{ card_count.multiplicity }} <br>
            {% endfor %}
          </ul>
        </div><!--/.well -->
        {% endif %}
      </div><!--/span-->
    </form>
  </div>

{% endblock %}