{% extends "base.html" %}
{% load url from future %}

{% block title %}Deck: {{deck.name}} by {{deck.user.username}}{% endblock %}

{% block head %}
    <!--Load the AJAX API-->
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
    
      // Set a callback to run when the Google Visualization API is loaded.
      google.setOnLoadCallback(drawCharts);

      // Load the Visualization API and the piechart package.
      google.load('visualization', '1.0', {'packages':['corechart']});

      function drawCharts() {
        colorDistribution();
        cardTypes();
        curve();
      }

      // Callback that creates and populates a data table, 
      // instantiates the pie chart, passes in the data and
      // draws it.
      function colorDistribution() {

      // Create the data table.
      var data = new google.visualization.DataTable();
      data.addColumn('string', 'Color');
      data.addColumn('number', 'Cards');
      data.addRows([
        ['White', {{ breakdown.white }}],
        ['Blue', {{ breakdown.blue }}],
        ['Black', {{ breakdown.black }}], 
        ['Red', {{ breakdown.red }}],
        ['Green', {{ breakdown.green }}],
        ['Colorless', {{ breakdown.colorless }}]
      ]);

      // Set chart options
      var options = {'title':'Color Distribution',
                     'width':400,
                     'height':300,
                     'colors':['white','blue','black','red','green', '#442200'],
                     'pieSliceTextStyle':{color:'#a4a4a4'},
                     'pieSliceBorderColor':'#a4a4a4',
                     'legend':{position:'none'},
                     'titleTextStyle':{fontSize:20}
                   };

      // Instantiate and draw our chart, passing in some options.
      var chart = new google.visualization.PieChart(document.getElementById('color_div'));
      chart.draw(data, options);
    }

      function cardTypes() {

      // Create the data table.
      var data = new google.visualization.DataTable();
      data.addColumn('string', 'Type');
      data.addColumn('number', 'Cards');
      data.addRows([
        ['Creature', {{ breakdown.creature_count }}],
        ['Land', {{ breakdown.land_count }}],
        ['Sorcery', {{ breakdown.sorcery_count }}],
        ['Instant', {{ breakdown.instant_count }}],
        ['Enchantment', {{ breakdown.enchantment_count }}],
        ['Artifact', {{ breakdown.artifact_count }}],
        ['Planeswalker', {{ breakdown.planeswalker_count }}]
      ]);

      // Set chart options
      var options = {'title':'Card Types',
                     'width':400,
                     'height':300,
                     'colors':['#1f9400','#394611','#e00707','#4876b9','#ffc726','#C0C0C0','#ff7300'],
                     'pieSliceTextStyle':{color:'black'},
                     'pieSliceBorderColor':'#a4a4a4',
                     'titleTextStyle':{fontSize:20}
                   };

      // Instantiate and draw our chart, passing in some options.
      var chart = new google.visualization.PieChart(document.getElementById('types_div'));
      chart.draw(data, options);
    }
      function curve() {
        var curveArray = new Array();
        curveArray = [
          ['Cost', 'Number of Cards'],
          ['0', {{var0}}],
          ['1', {{var1}}],
          ['2', {{var2}}],
          ['3', {{var3}}],
          ['4', {{var4}}],
          ['5', {{var5}}],
          ['6', {{var6}}],
          ['7', {{var7}}],
          ['8', {{var8}}],
          ['9', {{var9}}],
          ['10', {{var10}}],
          ['11', {{var11}}],
          ['12', {{var12}}],
          ['13', {{var13}}],
          ['14', {{var14}}],
          ['15', {{var15}}],
          ['16', {{var16}}],
          ['17', {{var17}}],
          ['18', {{var18}}]
        ];
        var i = curveArray.length - 1;
        for (i = curveArray.length - 1; i > 0; i--){
          if (curveArray[i][1] != 0){
            break;
          }
        }
        curveArray.splice(i+1, curveArray.length - 1);
        var data = google.visualization.arrayToDataTable(curveArray);

        var options = {
          title: 'Mana Curve',
          hAxis: {title: 'Manacost'},
          width: 400,
          height: 300
        };

        var chart = new google.visualization.ColumnChart(document.getElementById('curve_div'));
        chart.draw(data, options);
      }
    </script>
{% endblock %}
{% block content %}
<div class="row">
<div class="span4">
  <div class="well sidebar-nav">
    <ul class="nav nav-list">  
      <li class="nav-header">{{deck.name}} by <a href="/profile/{{deck.user.username}}">{{deck.user.username}}</a></li>
      {% if creatures %}
      <li class="nav-header">Creatures:</li>
      {% for card_count in creatures %}
      <a href="{{card_count.card.get_absolute_url}}">{{ card_count.card.name }}</a> x {{ card_count.multiplicity }}<br>
      {% endfor %}
      {% endif %}
      {% if perm %}
      <li class="nav-header">Other Permanents:</li>
      {% for card_count in perm %}
      <a href="{{card_count.card.get_absolute_url}}">{{ card_count.card.name }}</a> x {{ card_count.multiplicity }}<br>
      {% endfor %}
      {% endif %}
      {% if spells %}
      <li class="nav-header">Spells:</li>
      {% for card_count in spells %}
      <a href="{{card_count.card.get_absolute_url}}">{{ card_count.card.name }}</a> x {{ card_count.multiplicity }}<br>
      {% endfor %}
      {% endif %}
      {% if lands %}
      <li class="nav-header">Lands:</li>
      {% for card_count in lands %}
      <a href="{{card_count.card.get_absolute_url}}">{{ card_count.card.name }}</a> x {{ card_count.multiplicity }}<br>
      {% endfor %}
      {% endif %}
      <p><li class="nav-header">Sideboard</li></p>
      {% for card_count in sb_counts.all %}
      <a href="{{card_count.card.get_absolute_url}}">{{ card_count.card.name }}</a> x {{ card_count.multiplicity }}<br>
      {% endfor %}
    </ul>
  </div><!--/.well -->
  <form>
    <textarea name="new_comment" rows="3" cols="20" value="" maxlength="100"></textarea>
    <input type="hidden" name="deck" value={{deck.pk}}>
    <input type="hidden" name="user" value={{user.username}}>
    <button class="btn" type="submit">Add Comment!</button>
  </form>
  <ul id="comment_list">
    {% for comment in comments.all %}
    <li><b>{{comment.user}}</b> ({{ comment.timestamp }}): {{ comment.message }}</li>
    {% endfor %}
  </ul>

</div><!--/span-->
<div class="span8">
  {% if standard %}
  Legal in Standard<br>
  {% endif %}
  {% if modern %}
  Legal in Modern<br>
  {% endif %}
  {% if legacy %}
  Legal in Legacy<br>
  {% endif %}
  {% if vintage %}
  Legal in Vintage<br>
  {% endif %}
  {% if commander %}
  Legal in Commander<br>
  {% endif %}
  {% if not standard and not modern and not legacy and not vintage and not commander %}
  Not legal in Standard, Modern, Legacy, Vintage or Commander<br>
  {% endif %}
  <div id="color_div" style="width:400; height:300"></div>
  <div id="types_div" style="width:400; height:300"></div>
  <div id="curve_div" style="width:400; height:300"></div>
</div>
</div>
{% endblock %}
