{% extends "base.html" %}
{% load url from future %}

{% block title %}Simulate{% endblock %}

{% block content %}
  <div class="row">
    <div class="span3">
      <div class="well sidebar-nav">
        <ul class="nav nav-list">  
            <h3 class="nav-header">SIMULATE</h3>
          <li class="active"><a href="#">My Decks</a></li>
          {% for deck in decks %}

          <li><a href="/decks/?deck={{ deck.pk }}">{{ deck.name }}</a></li>
          {% endfor %}
        </ul>
        
<button class="btn" type="submit" >New Hand</button>
      </div>
    </div>
    <div class="span9">
   <img src="favorite">
   <img src="favorite">
   <img src="favorite">
   <img src="favorite">
   <img src="favorite">
   <img src="favorite">
   <img src="favorite">
 </div>
{% endblock %}
